* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

body {
    background-image: url("../img/wfit.png");
    background-position: center;
}
  
.container {
    max-width: 70%;
    margin: 3rem auto;
    background-color: #fdfdfd;
    padding: 1.5rem 0 1.5rem 10rem;
    border-radius: 15px;
}

label {
    font-weight: bold;
}

.container header {
    text-align: center;
    margin-bottom: 1rem;
}
  
.infos {
    width: 40%;
}

.treinando {
    margin-top: 0.5rem;
}

.grupo-muscular{
    width: 60%;
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grupo-muscular p{
    padding-bottom: 0.2rem;
}

@media (max-width: 768px) {
    .grupo-muscular {
      grid-template-columns: 1fr;
    }
}