* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

body {
    background-image: url("../img/wfit.png");
    background-position: center;
}
  
.container {
    max-width: 50%;
    margin: 3rem auto;
    background-color: #fdfdfd;
    padding: 3rem 0 2rem 0rem;
    border-radius: 15px;
}

label {
    font-weight: bold;
}

.container header {
    text-align: center;
    margin-bottom: 1rem;
}
  
.infos {
    width: 100%;
    text-align: center;
}

.treinando {
    margin-top: 0.5rem;

}

.grupo-muscular{
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
}

.grupo-muscular{
    margin-top: 0.5rem;
}

.grupo-muscular p{
    padding-bottom: 0.2rem;
}

@media (max-width: 768px) {
    .grupo-muscular {
      grid-template-columns: 1fr;
    }
}

@media (max-width: 940px) {
    .container{
        padding: 5% 5% 5% 5%;
    }
  }